[mariadbd]
log-error=/var/log/mysql/log-error.log
socket=/run/mysql/mysql.sock
pid-file=/run/mysql/mysql.pid
bind-address=0.0.0.0

[mysqladmin]
socket=/run/mysql/mysql.sock

[mariadb-upgrade]
socket=/run/mysql/mysql.sock

[mysql]
socket=/run/mysql/mysql.sock


